/* header styling*/
h3{
    color: rgb(81, 175, 160);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

/* Title Class  */
.title{
    color: #0BADA6;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    font-weight: bolder; 
    padding-top: 15px; 

  }

/* navbar styling*/
a.navbar-brand{
    color: white;
    margin-left: 30px;
    padding: 10px;
    background-color: rgb(81, 175, 160);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

/* navbar styling*/
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}
.nav-item.dropdown.show {
    background-color: #E7E7E7!important;
}
.dropdown-menu {
    margin: 10;
    color: #6D8092 !important; 
}

/* content styling*/
.content {
    width: 90%;
    margin: 20px auto;
    padding: 25px 50px 25px;
}

/* fontstyling for text*/
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding:15px;
 }

/* body background*/
body{
    background-color: #EDEDED;
}
/*content styling*/
.col-md-8{
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white;
}
.col-md-12{
    margin-bottom: 62px; 
    padding: 10px 20px 15px;
    color:black;
    background-color: white;
}
/*image panel styling*/
.box{
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px 30px 15px;
    color: black;
    background-color: white;
}

/* image styling*/
.img-thumbnail{
    width:50% !important;
    height: 50% !important;
    border: none;
}

/* image border styling*/
.picked{
    border: 3px solid rgb(81, 175, 160);
}

/*table*/
.table{
    font-size: 15px;
    border-top-color: white !important;
}

/* table text adjustments*/
tr>th:nth-child(1),
tr>th:nth-child(3),
tr>th:nth-child(6),
tr>th:nth-child(7),
tr>th:nth-child(8),
tr>th:nth-child(9),
tr>th:nth-child(10),
tr>td:nth-child(1),
tr>td:nth-child(3),
tr>td:nth-child(6),
tr>td:nth-child(7),
tr>td:nth-child(8),
tr>td:nth-child(9),
tr>td:nth-child(10) {
    text-align: left;
}


/*footer styling*/
.page-footer{
    background-color: rgb(92, 90, 90);
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-copyright{
    color:white;
    border-top: 5px solid rgb(81, 175, 160)
}

/* small screen adjustments*/
@media(max-width:992px){
    .navbar.bg-light{
        background-color: rgb(81, 175, 160)!important;    
    }

    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
        background-color: white;
    }
    .navbar-brand{
        padding: 10px !important;
    }
    button{
        margin-right: 30px;
    }
    button:focus {
        outline:1px dotted;
        outline-color: 5px auto;
    }
    .img{
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }
}